* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Inter', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $background;
}

button {
  background-color: transparent;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  width: 100%;
  max-width: 127rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}